In [2]:
#identity opareters (is not),(is)
#it means same are not same in this code
#it is same in code it will be true
#it will not same  in code it will be false
she="i am she"
he ="i am he"
_2="its 2"
_1="its 1"
#is not opareters
print(she is not he)
print(he is not she)
print(_2 is not _1)
print(_1 is not _2)
#is opareters
print(she is he)
print(he is she)
print(_2 is _1)
print(_1 is _2)

True
True
True
True
False
False
False
False

In [3]:
#identity opareters (is not)
_2="apple is red in colour"
_3="apple is red in colour"
#is not opareters
print(_2 is not _3)
print(_2 is _3)

True
False

In [6]:
#identity opareters is not , is
y=563
w=234
print(y is not w)
print(y is w)

True
False

In [8]:
#opareters is ,is not
q=20
w=20
p=90
o=90
print(q is not w)
print(w is not q)
print(q is w)
print(q is w)

print(p is not o)
print(p is not o)
print(p is  o)
print(p is  o)

False
False
True
True
False
False
True
True