In [26]:
#membership opareters
#in,not in
m="mango"
_3=[9,9,7,0,5,3]
print('m'  not in m)
print('o' in m)
print('k' in m)
print('p'not in m)
print(9 in _3)
print(9 not in _3)
print(9,9,7,0,5,3 in _3)

False
True
False
True
True
False
9 9 7 0 5 True

In [28]:
#not in
_1=9,0,2,4,5,6
_2=3,4,5,6,7,8
_3=4,5,6,7,8,9
print(9 not in _1)
print(9 in _1)
print(5 not in _2)
print(5 in  _2)
print(7 not in _3)
print(7 in _3)

False
True
False
True
False
True

In [30]:
#in(alabets)
a="SHIVA"
b="PAVAN"
print('SHIVA' in a)
print('pavan'in  b)
print('PAVAN'in b)
print('shiva' in a)

True
False
True
False

In [34]:
#not in (numbers)
a=1,2,3,4
b=5,6,7,8
print(1 in a)
print(2 not in  a)
print(5,6 not in b)
print(7,8 in b)

True
False
5 False
7 True

In [35]:
#membership opareters
#not in  is uses to it is true or false it identify
#in is difined is aslo true or false identify
s="bsc"
a="bcom"
print('bsc' in s)
#in is defind to true whether it is true are not in variables or values
print('bcom' not in a)
#in this variable is their in value not is in identify whether it is true or false

True
False