  
  ## ***CORE DATA TYPES***

---

# **LIST**
# two types of list
1.   index of list
2.   slicing of List

In [2]:
#index list
#store in anytpye of data in list
anytype =["shiva",104,12.24,"have a dinner"]
         #   0     1    2        3
 #index have two types positive and negitive
 #positive index starts from "0"
 #nagitive index starts from "-1"
print(anytype[0])
print(anytype[1])
print(anytype[2])
print(anytype[3])
#this way use this code like adding in your variable and also square bracket and instide of taking positive number.

shiva
104
12.24
have a dinner

In [3]:
#examples of this positive index with numbers
results=[35,42,54,68,98,76,30]
#        0   1  2  3  4  5  6
print(results[6])
print(results[5])
print(results[4])
print(results[3])
print(results[2])
print(results[1])
print(results[0])

30
76
98
68
54
42
35

In [6]:
#example  of positive index with  alfabets
_7=["shiva","varun","somu","venkat","ranjit","pavan","jeswanth"]
#      0       1      2       3       4         5        6
print(_7[0])
print(_7[1])
print(_7[2])
print(_7[3])
print(_7[4])
print(_7[5])
print(_7[6])
print(_7)

shiva
varun
somu
venkat
ranjit
pavan
jeswanth
['shiva', 'varun', 'somu', 'venkat', 'ranjit', 'pavan', 'jeswanth']

In [10]:
#example of positive index
#positive is starting with 0 "0"
_multipule=["one","two","three","four", "five"]
#             0     1     2        3      4
print(_multipule[4])
print(_multipule[3])
print(_multipule[2])
print(_multipule[1])
print(_multipule[0])
print(_multipule)

five
four
three
two
one
['one', 'two', 'three', 'four', 'five']

In [11]:
#example of positive index
x=[1,2,3,4,5,6,7]
print(x[0])
print(x[1])
print(x[2])
print(x[3])

1
2
3
4

slicing list

In [14]:
#in list both are same index and slicing
#but index  is a starting to ending and start with 0
#but slicing is a ending to starting and it's start with -1
p=["Copilot","Microsoft", "Editor", "templates"]
#     -4        -3           -2            -1
print(p[-1])#using "-" ending to starting
print(p[-2])
print(p[-3])
print(p[-4])

templates
Editor
Microsoft
Copilot

In [15]:
x=["synonyms", "similar", "words", "antonyms"]
print(x[-1])
print(x[-2])
print(x[-3])
print(x[-4])

antonyms
words
similar
synonyms

In [16]:
#error
s=[1,2,3,4,5,6]
print(s-1)
print(s[-2])
print(s[-3])

TypeError: unsupported operand type(s) for -: 'list' and 'int'

## **list oparetions**

## list contain two type oparetions


1.   concantenation
2.   repatation

In [18]:
#example of concantenation
u=["list","two","three", "four","five"]
x=["term","have","gone","why"]
a=u+x
print(a)#total all data will come in out put
print(u)#having u variable data will come in out put
print(x)#having x variable data will come in out put

['list', 'two', 'three', 'four', 'five', 'term', 'have', 'gone', 'why']
['list', 'two', 'three', 'four', 'five']
['term', 'have', 'gone', 'why']

In [21]:
e=[1,2,3,4,5,6,7]
r=[2,3,5,6,7,8,9]
s=e+r
print(s)
print(e)
print(r)

[1, 2, 3, 4, 5, 6, 7, 2, 3, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7]
[2, 3, 5, 6, 7, 8, 9]

In [22]:
g=[-1,-2,-3,-4,-5]
h=[-9,-8,-7,-6,-5]
p=g+h
print(p)

[-1, -2, -3, -4, -5, -9, -8, -7, -6, -5]

In [23]:
#error
k=["a","s","d","f","g"]
h=[a,s,d,f,g] #aflabets always want double cotations
print(k)
print(h)

NameError: name 'd' is not defined

In [24]:
#example of saparetion
d=["w""e""r""t""g"] #u can saparate with coma  u dont put coma output meaning will change
print(d)

['wertg']

# **Repatation**

In [26]:
q=[1,2,3,4,5,6,7,8,9]
w=q*2
e=q*10
print(w)#it repeats 2 times
print(e)#it repeat 10 times
print(q)#it is normal veriableadding to print

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
w=["list","two","three", "four","five"]
e=w*5
print(e)# it repeats 5times

['list', 'two', 'three', 'four', 'five', 'list', 'two', 'three', 'four', 'five', 'list', 'two', 'three', 'four', 'five', 'list', 'two', 'three', 'four', 'five', 'list', 'two', 'three', 'four', 'five']

In [28]:
d=["Copilot","Microsoft", "Editor", "templates"]
a=d*3
print(a)

['Copilot', 'Microsoft', 'Editor', 'templates', 'Copilot', 'Microsoft', 'Editor', 'templates', 'Copilot', 'Microsoft', 'Editor', 'templates']

In [29]:
#error normal concatenation what they have errors same error it will come
s= [can saparate  coma  u dont]
a=s*2
print(a)
#coma error

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-29-967e60a868b3>, line 2)

In [30]:
g=["a","s","d","f","g"]
a=g*7
print(a)

['a', 's', 'd', 'f', 'g', 'a', 's', 'd', 'f', 'g', 'a', 's', 'd', 'f', 'g', 'a', 's', 'd', 'f', 'g', 'a', 's', 'd', 'f', 'g', 'a', 's', 'd', 'f', 'g', 'a', 's', 'd', 'f', 'g']