  
  ## ***CORE DATA TYPES***

---

# **LIST**
# two types of list
1.   index of list
2.   slicing of List

In [ ]:
#index list
#store in anytpye of data in list
anytype =["shiva",104,12.24,"have a dinner"]
         #   0     1    2        3
 #index have two types positive and negitive
 #positive index starts from "0"
 #nagitive index starts from "-1"
print(anytype[0])
print(anytype[1])
print(anytype[2])
print(anytype[3])
#this way use this code like adding in your variable and also square bracket and instide of taking positive number.

shiva
104
12.24
have a dinner

In [ ]:
#examples of this positive index with numbers
results=[35,42,54,68,98,76,30]
#        0   1  2  3  4  5  6
print(results[6])
print(results[5])
print(results[4])
print(results[3])
print(results[2])
print(results[1])
print(results[0])

30
76
98
68
54
42
35

In [ ]:
#example  of positive index with  alfabets
_7=["shiva","varun","somu","venkat","ranjit","pavan","jeswanth"]
#      0       1      2       3       4         5        6
print(_7[0])
print(_7[1])
print(_7[2])
print(_7[3])
print(_7[4])
print(_7[5])
print(_7[6])
print(_7)

shiva
varun
somu
venkat
ranjit
pavan
jeswanth
['shiva', 'varun', 'somu', 'venkat', 'ranjit', 'pavan', 'jeswanth']

In [ ]:
#example of positive index
#positive is starting with 0 "0"
_multipule=["one","two","three","four", "five"]
#             0     1     2        3      4
print(_multipule[4])
print(_multipule[3])
print(_multipule[2])
print(_multipule[1])
print(_multipule[0])
print(_multipule)

five
four
three
two
one
['one', 'two', 'three', 'four', 'five']

In [ ]:
#example of positive index
x=[1,2,3,4,5,6,7]
print(x[0])
print(x[1])
print(x[2])
print(x[3])

1
2
3
4

slicing list

In [ ]:
#in list both are same index and slicing
#but index  is a starting to ending and start with 0
#but slicing is a ending to starting and it's start with -1
p=["Copilot","Microsoft", "Editor", "templates"]
#     -4        -3           -2            -1
print(p[-1])#using "-" ending to starting
print(p[-2])
print(p[-3])
print(p[-4])

templates
Editor
Microsoft
Copilot

In [ ]:
x=["synonyms", "similar", "words", "antonyms"]
print(x[-1])
print(x[-2])
print(x[-3])
print(x[-4])

antonyms
words
similar
synonyms

In [ ]:
#error
s=[1,2,3,4,5,6]
print(s-1)
print(s[-2])
print(s[-3])

TypeError: unsupported operand type(s) for -: 'list' and 'int'

## **list oparetions**

## list contain two type oparetions


1.   concantenation
2.   repatation

In [ ]:
#example of concantenation
u=["list","two","three", "four","five"]
x=["term","have","gone","why"]
a=u+x
print(a)#total all data will come in out put
print(u)#having u variable data will come in out put
print(x)#having x variable data will come in out put

['list', 'two', 'three', 'four', 'five', 'term', 'have', 'gone', 'why']
['list', 'two', 'three', 'four', 'five']
['term', 'have', 'gone', 'why']

In [ ]:
e=[1,2,3,4,5,6,7]
r=[2,3,5,6,7,8,9]
s=e+r
print(s)
print(e)
print(r)

[1, 2, 3, 4, 5, 6, 7, 2, 3, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7]
[2, 3, 5, 6, 7, 8, 9]

In [ ]:
g=[-1,-2,-3,-4,-5]
h=[-9,-8,-7,-6,-5]
p=g+h
print(p)

[-1, -2, -3, -4, -5, -9, -8, -7, -6, -5]

In [ ]:
#error
k=["a","s","d","f","g"]
h=[a,s,d,f,g] #aflabets always want double cotations
print(k)
print(h)

NameError: name 'd' is not defined

In [ ]:
#example of saparetion
d=["w""e""r""t""g"] #u can saparate with coma  u dont put coma output meaning will change
print(d)

['wertg']

# **Repatation**

In [ ]:
q=[1,2,3,4,5,6,7,8,9]
w=q*2
e=q*10
print(w)#it repeats 2 times
print(e)#it repeat 10 times
print(q)#it is normal veriableadding to print

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
w=["list","two","three", "four","five"]
e=w*5
print(e)# it repeats 5times

['list', 'two', 'three', 'four', 'five', 'list', 'two', 'three', 'four', 'five', 'list', 'two', 'three', 'four', 'five', 'list', 'two', 'three', 'four', 'five', 'list', 'two', 'three', 'four', 'five']

In [ ]:
d=["Copilot","Microsoft", "Editor", "templates"]
a=d*3
print(a)

['Copilot', 'Microsoft', 'Editor', 'templates', 'Copilot', 'Microsoft', 'Editor', 'templates', 'Copilot', 'Microsoft', 'Editor', 'templates']

In [ ]:
#error normal concatenation what they have errors same error it will come
s= [can saparate  coma  u dont]
a=s*2
print(a)
#coma error

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-29-967e60a868b3>, line 2)

In [ ]:
g=["a","s","d","f","g"]
a=g*7
print(a)

['a', 's', 'd', 'f', 'g', 'a', 's', 'd', 'f', 'g', 'a', 's', 'd', 'f', 'g', 'a', 's', 'd', 'f', 'g', 'a', 's', 'd', 'f', 'g', 'a', 's', 'd', 'f', 'g', 'a', 's', 'd', 'f', 'g']

In [1]:
d=[9,8,7,6,5,]
e=d*2
print(e)

[9, 8, 7, 6, 5, 9, 8, 7, 6, 5]

# change list items

# *>to change the value of specific item refer to the index number*

In [5]:
#in index example
languges=["python","c","c++","java","java script"]
#adding to the 2nd line variable and square brackets in the brakets index value
languges[3]="hacking"
languges[0]="data analyst"
print(languges)

['data analyst', 'c', 'c++', 'hacking', 'java script']

In [7]:
#example of this change list items
fruits=["apple","grapes","banana","carroct","orange","brinjal"]
#          0        1        2        3         4        5
fruits[3]="cherry"
fruits[5]="pine apple"
print(fruits)

['apple', 'grapes', 'banana', 'cherry', 'orange', 'pine apple']

In [9]:
#example of this change list items{like paragraph}
words=["prepositions", "pronouns"," conjunctions",  "contractions","verbs", "nouns", "adjectives","adverbs"]
#            0             1            2                 3           4        5           6          7
words[4]="happy"
words[1]="beautiful"
words[6]="funny"
words[0]="append"
print(words)

['append', 'beautiful', ' conjunctions', 'contractions', 'happy', 'nouns', 'funny', 'adverbs']

In [16]:
numbers=[261,268,263,269, 369, 266,267 ]
#         0    1   2   3   4    5   6
numbers[1]=262
numbers[3]=264
numbers[4]=265
print(numbers)

[261, 262, 263, 264, 265, 266, 267]

change list in slicing

---

In [11]:
#in  slicing example
languges=["python","c","c++","java","java script"]
#adding to the 2nd line variable and square brackets in the brakets index value
languges[-3]="hacking"
languges[-1]="data analyst"
print(languges)

['python', 'c', 'hacking', 'java', 'data analyst']

In [13]:
#example of this change list items
fruits=["apple","grapes","banana","carroct","orange","brinjal"]
#        -6      -5       -4         -3         -2      -1
fruits[-3]="cherry"
fruits[-1]="pine apple"
print(fruits)

['apple', 'grapes', 'banana', 'cherry', 'orange', 'pine apple']

In [14]:
#example of this change list items{like paragraph}
words=["prepositions", "pronouns"," conjunctions",  "contractions","verbs", "nouns", "adjectives","adverbs"]
#             -8           -7            -6               -5          -4       -3        -2          -1
words[4]="happy"
words[1]="beautiful"
words[6]="funny"
words[0]="append"
print(words)

['append', 'beautiful', ' conjunctions', 'contractions', 'happy', 'nouns', 'funny', 'adverbs']

In [15]:
numbers=[261,268,263,269, 369, 266,267 ]
#         -7  -6  -5  -4   -3  -2   -1
numbers[-6]=262
numbers[-4]=264
numbers[-3]=265
print(numbers)

[261, 262, 263, 264, 265, 266, 267]

In [19]:
_m=["four","two","five","one", "three"]
#      -5    -4   -3       -2      -1
_m[-5]="one"
_m[-3]="three"
_m[-2]="four"
_m[-1]="five"
print(_m)

['one', 'two', 'three', 'four', 'five']

# list methods

---



---

 types of lists


1.  append()
2.  extend()
3.  insert()
4.remove()
5. pop()
6. index()
7. count()
8. sort()
9. reverse()

# **Append()**

---

In [21]:
#append()
#>adds an element to the end of the list
fruits=["apple","grapes","banana","orange",]
fruits.append("cherry")
print(fruits)

['apple', 'grapes', 'banana', 'orange', 'cherry']

In [23]:
games=["free fire","bgmi","car gaming"]
games.append("subway surf")
print(games)

['free fire', 'bgmi', 'car gaming', 'subway surf']

In [33]:
numbers=[2.3,2.4,2.4,2.6,2.7]
numbers[2]=2.5
numbers.append(2.8)
print(numbers)

[2.3, 2.4, 2.5, 2.6, 2.7, 2.8]

In [35]:
ab=["eyes","nose","mouth","ears"]
ab.append("tounge")
ab[1]="cheek"
ab[-1]="head"
print(ab)
#in this code we using the three type of lists
 #index, slincing,append

['eyes', 'cheek', 'mouth', 'ears', 'head']

In [38]:
x=["synonyms", "similar", "words", "antonyms"]
x[0]="three"
x[-2]="two"
x.append("hundred")
print(x)

['three', 'similar', 'two', 'antonyms', 'hundred']

# **extand():**

In [43]:
#extend()
#> extend the some more words means adding  words
fruits=["apple","grapes","banana","orange",]
fruits2=("cherry","pine apple", "watermelon")
fruits.extend(fruits2)
print(fruits)

['apple', 'grapes', 'banana', 'orange', 'cherry', 'pine apple', 'watermelon']

In [45]:
games=["free fire","bgmi","car gaming"]
game=["subway surf"]
games.extend(game)
print(games)

['free fire', 'bgmi', 'car gaming', 'subway surf']

In [46]:
numbers=[2.3,2.4,2.4,2.6,2.7]
numbers[2]=2.5
number=[2.8]
numbers.extend(number)
print(numbers)

[2.3, 2.4, 2.5, 2.6, 2.7, 2.8]

In [47]:
ab=["eyes","nose","mouth","ears"]
abc=["tounge"]
ab[1]="cheek"
ab[-1]="head"
ab.extend(abc)
print(ab)
#in this code we using the three type of lists
 #index, slincing,extend

['eyes', 'cheek', 'mouth', 'head', 'tounge']

In [48]:
x=["synonyms", "similar", "words", "antonyms"]
x[0]="three"
x[-2]="two"
xx=["hundred"]
x.extend(xx)
print(x)

['three', 'similar', 'two', 'antonyms', 'hundred']

## **insert():**

In [58]:
#insert an element at a specific position
words=["shiva","bharth","jeswanth","pavan"]
words.insert(1,"rohit")
print(words)

['shiva', 'rohit', 'bharth', 'jeswanth', 'pavan']

In [59]:
fruits=["apple","grapes","banana","orange",]
fruits2=("cherry","pine apple", "watermelon")
fruits.extend(fruits2)
fruits.insert(-1,"cancer")
print(fruits)
#in this code we using the 2types of lists extand, insert

['apple', 'grapes', 'banana', 'orange', 'cherry', 'pine apple', 'cancer', 'watermelon']

In [60]:
numbers=[2.3,2.4,2.4,2.6,2.7]
numbers[2]=2.5
number=[2.9]
numbers.extend(number)
numbers.insert(5,2.8)
print(numbers)
#now we using the three types lists extand, insert ,append

[2.3, 2.4, 2.5, 2.6, 2.7, 2.8, 2.9]

In [61]:
ab=["eyes","nose","mouth","ears"]
abc=["tounge"]
ab[1]="cheek"
ab[-1]="head"
ab.extend(abc)
ab.insert(4,"body")
print(ab)
#in this code we using the three type of lists
 #index, slincing,extend,insert

['eyes', 'cheek', 'mouth', 'head', 'body', 'tounge']

In [62]:
x=["synonyms", "similar", "words", "antonyms"]
x[0]="three"
x[-2]="two"
xx=["hundred"]
x.extend(xx)
x.insert(-3,"teks")
print(x)

['three', 'similar', 'teks', 'two', 'antonyms', 'hundred']

## **Remove():**

---



---

In [64]:
#remove the first occurence of value
shiva=["h","a","p","p","y"]
numbers=[7,0,9,5,0,5]
words=["dinner","break fast","lunch","food"]
subjects=["english","social","science","maths"]
_x=["a","b","c","d","e"]

shiva.remove("p")
numbers.remove(5)
words.remove("food")
subjects.remove("english")
_x.remove("c")
print(shiva)
print(numbers)
print(words)
print(subjects)
print(_x)

['h', 'a', 'p', 'y']
[7, 0, 9, 0, 5]
['dinner', 'break fast', 'lunch']
['social', 'science', 'maths']
['a', 'b', 'd', 'e']

# **pop**

---



---

In [69]:
invite=["shiva","bharth","jeswanth","pavan"]
#        0         1        2         3
#        -4        -3       -2       -1
fruits=["apple","grapes","banana","orange"]
#        0         1        2         3
#        -4        -3       -2       -1
numbers=[2.3,2.4,2.4,2.6,2.7]
#         0   1   2   3   4
#         -5  -4  -3  -2  -1
ab=["eyes","nose","mouth","ears"]
#      0     1       2      3
#     -4    -3      -2     -1
xx=["synonyms", "similar", "words", "antonyms"]
#        0         1        2         3
#        -4        -3       -2       -1
shiva=["h","a","p","p","y"]
#       0   1   2   3   4
#      -5  -4  -3  -2  -1
number=[7,0,9,5,0,5]
#       0 1 2 3 4 5
#      -6-5-4-3-2-1
words=["dinner","break fast","lunch","food"]
#        0         1        2         3
#        -4        -3       -2       -1
subjects=["english","social","science","maths"]
#            0         1        2         3
#           -4        -3       -2       -1
_x=["a","b","c","d","e"]
#    0   1   2   3   4
#   -5  -4  -3  -2  -1
x=invite.pop(2)
d=fruits.pop(3)
f=numbers.pop(4)
l=ab.pop(3)
k=xx.pop(1)
j=shiva.pop(0)
g=number.pop(4)
h=words.pop(0)
s=subjects.pop(2)
z=_x.pop(1)



print(invite)
print(fruits)
print(numbers)
print(ab)
print(x)
print(shiva)
print(number)
print(words)
print(subjects)
print(_x)

['shiva', 'bharth', 'pavan']
['apple', 'grapes', 'banana']
[2.3, 2.4, 2.4, 2.6]
['eyes', 'nose', 'mouth']
jeswanth
['a', 'p', 'p', 'y']
[7, 0, 9, 5, 5]
['break fast', 'lunch', 'food']
['english', 'social', 'maths']
['a', 'c', 'd', 'e']

In [70]:
invite=["shiva","bharth","jeswanth","pavan"]
#        0         1        2         3
#        -4        -3       -2       -1
fruits=["apple","grapes","banana","orange"]
#        0         1        2         3
#        -4        -3       -2       -1
numbers=[2.3,2.4,2.4,2.6,2.7]
#         0   1   2   3   4
#         -5  -4  -3  -2  -1
ab=["eyes","nose","mouth","ears"]
#      0     1       2      3
#     -4    -3      -2     -1
xx=["synonyms", "similar", "words", "antonyms"]
#        0         1        2         3
#        -4        -3       -2       -1
shiva=["h","a","p","p","y"]
#       0   1   2   3   4
#      -5  -4  -3  -2  -1
number=[7,0,9,5,0,5]
#       0 1 2 3 4 5
#      -6-5-4-3-2-1
words=["dinner","break fast","lunch","food"]
#        0         1        2         3
#        -4        -3       -2       -1
subjects=["english","social","science","maths"]
#            0         1        2         3
#           -4        -3       -2       -1
_x=["a","b","c","d","e"]
#    0   1   2   3   4
#   -5  -4  -3  -2  -1

x=invite.pop(-1)
d=fruits.pop(-2)
f=numbers.pop(-3)
l=ab.pop(-4)
k=xx.pop(-1)
j=shiva.pop(-2)
g=number.pop(-3)
h=words.pop(-4)
s=subjects.pop(-2)
z=_x.pop(-3)

print(invite)
print(fruits)
print(numbers)
print(ab)
print(x)
print(shiva)
print(number)
print(words)
print(subjects)
print(_x)

['shiva', 'bharth', 'jeswanth']
['apple', 'grapes', 'orange']
[2.3, 2.4, 2.6, 2.7]
['nose', 'mouth', 'ears']
pavan
['h', 'a', 'p', 'y']
[7, 0, 9, 0, 5]
['break fast', 'lunch', 'food']
['english', 'social', 'maths']
['a', 'b', 'd', 'e']

## **index():**

In [73]:
#refers the index of the first occurence of value
invite=["shiva","bharth","jeswanth","pavan"]
#        0         1        2         3
#        -4        -3       -2       -1
fruits=["apple","grapes","banana","orange"]
#        0         1        2         3
#        -4        -3       -2       -1
numbers=[2.3,2.4,2.4,2.6,2.7]
#         0   1   2   3   4
#         -5  -4  -3  -2  -1
ab=["eyes","nose","mouth","ears"]
#      0     1       2      3
#     -4    -3      -2     -1
xx=["synonyms", "similar", "words", "antonyms"]
#        0         1        2         3
#        -4        -3       -2       -1
shiva=["h","a","p","p","y"]
#       0   1   2   3   4
#      -5  -4  -3  -2  -1
number=[7,0,9,5,0,5]
#       0 1 2 3 4 5
#      -6-5-4-3-2-1
words=["dinner","break fast","lunch","food"]
#        0         1        2         3
#        -4        -3       -2       -1
subjects=["english","social","science","maths"]
#            0         1        2         3
#           -4        -3       -2       -1
_x=["a","b","c","d","e"]
#    0   1   2   3   4
#   -5  -4  -3  -2  -1

x=invite.index("bharth")
d=fruits.index("banana")
f=numbers.index(2.4)
l=ab.index("mouth")
k=xx.index("similar")
j=shiva.index("a")
g=number.index(9)
h=words.index("break fast")
s=subjects.index("english")
z=_x.index("c")

print(x)
print(d)
print(f)
print(l)
print(k)
print(j)
print(g)
print(h)
print(s)
print(z)

1
2
1
2
1
1
2
1
0
2

# **count():**

In [74]:
#returns the number of occurences of the value
_a=[1,2,3,4,5,6,1,1,1,1,2,2,3,3,4,4,5,6]
fruits=["banana","apple","banana","orange","banana","pine apple"]
sweet=["gulab jamun","gulab jamun","gulab jamun","gulab jamun","gulab jamun","gulab jamun","gulab jamun","gulab jamun","gulab jamun",]
hot=["mixture","mixture","mixture","mixture","mixture","mixture","mixture","mixture","mixture","mixture","mixture","mixture","mixture","mixture","mixture","mixture","mixture",]
food=["rice","puri","rice","vada","rice","cake","rice","rice"]
numbers=[2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2]

x=_a.count(1)
y=fruits.count("banana")
z=sweet.count("gulab jamun")
s=hot.count("mixture")
d=food.count("rice")
f=numbers.count(2)

print(x)
print(y)
print(z)
print(s)
print(d)
print(f)

5
3
9
17
5
49

# **sort():**

In [76]:
#sort the list in ascending order
names=["apple","Apple","Ball","ball","cat","Cat","dog","Dog"]
numbers=[5,4,6,2,7,8,9,1,3,5,4,6,7,8,9,2]
alfabets=["K","e","D","R","P","F","d","w","q"]
num=[4,3,5,6,5,4,3,6,37,8,9,1,1,1,3,3,3,4,4,4,5,6,7,8,9,0,0,0,0,0]
_a=["s","d","e","r","t","w","h","S","A","W","Y","Q","O"]

names.sort()
numbers.sort()
alfabets.sort()
num.sort()
_a.sort()

print(names)
print(numbers)
print(alfabets)
print(num)
print(_a)

['Apple', 'Ball', 'Cat', 'Dog', 'apple', 'ball', 'cat', 'dog']
[1, 2, 2, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 8, 9, 9]
['D', 'F', 'K', 'P', 'R', 'd', 'e', 'q', 'w']
[0, 0, 0, 0, 0, 1, 1, 1, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 5, 5, 5, 6, 6, 6, 7, 8, 8, 9, 9, 37]
['A', 'O', 'Q', 'S', 'W', 'Y', 'd', 'e', 'h', 'r', 's', 't', 'w']

# **reverse():**

---



---

In [77]:
#reverse in the list  order
names=["apple","Apple","Ball","ball","cat","Cat","dog","Dog"]
numbers=[5,4,6,2,7,8,9,1,3,5,4,6,7,8,9,2]
alfabets=["K","e","D","R","P","F","d","w","q"]
num=[4,3,5,6,5,4,3,6,37,8,9,1,1,1,3,3,3,4,4,4,5,6,7,8,9,0,0,0,0,0]
_a=["s","d","e","r","t","w","h","S","A","W","Y","Q","O"]

names.reverse()
numbers.reverse()
alfabets.reverse()
num.reverse()
_a.reverse()

print(names)
print(numbers)
print(alfabets)
print(num)
print(_a)

['Dog', 'dog', 'Cat', 'cat', 'ball', 'Ball', 'Apple', 'apple']
[2, 9, 8, 7, 6, 4, 5, 3, 1, 9, 8, 7, 2, 6, 4, 5]
['q', 'w', 'd', 'F', 'P', 'R', 'D', 'e', 'K']
[0, 0, 0, 0, 0, 9, 8, 7, 6, 5, 4, 4, 4, 3, 3, 3, 1, 1, 1, 9, 8, 37, 6, 3, 4, 5, 6, 5, 3, 4]
['O', 'Q', 'Y', 'W', 'A', 'S', 'h', 'w', 't', 'r', 'e', 'd', 's']