In [2]:
#multiple variables gives and value give one value
a=b=c=100
print(a)
print(b)
print(c)

100
100
100

In [4]:
#in multiple varibles, variables to give each variable have one"="mandotry
p=o=i=n=t="point of intrest net time"
print(p)
print(o)
print(i)
print(n)
print(t)

point of intrest net time
point of intrest net time
point of intrest net time
point of intrest net time
point of intrest net time

In [5]:
#each variable have one "="mandotary
_q=_w=_e="it is more than"
print(_q)
print(_w)
print(_e)
#see in this code undersocre added ,it is also valid to the multi variables

it is more than
it is more than
it is more than

In [6]:
#multi variables create a more variables and one value
shiva123=varun143=hemanth108="those members are friends"
print(shiva123)
print(varun143)
print(hemanth108)

those members are friends
those members are friends
those members are friends

In [7]:
#this is the simple example of the multiple variables.
_1=_2=_3=12345
print(_1)
print(_2)
print(_3)

12345
12345
12345