# **python strings**
# three types of formates




1.   % operater
2.   {} format
3.   string interpolation f-string

# **satistically**

In [ ]:
# % oparater placeholds
name="siva prasad"
age=24
education="B.com computers"
address="hindhupur(M),anathapur(D),Andhra pradash"
file1="my name is %s and i am %d years old i completed my degree course %s and iam from %s" %(name,age,education,address)
app="amazon"
order="shoes"
placed="5/4/24"
address="hindhupur(M),anathapur(D),Andhra pradash,"
pincode="515201"
file2="app name is %s and i order this %s and it will placed in %s and i used this adders %s and this pincode %s" %(app,order,placed,address,pincode)
company="infosis"
role="data analyst"
timings="9:00,5:00."
file3="company name %s and in this  company my role %s and last company timings %s " %(company,role,timings)
print(file3)
print(file2)
print(file1)

company name infosis and in this  company my role data analyst and last company timings 9:00,5:00.
app name is amazon and i order this shoes and it will placed in 5/4/24 and i used this adders hindhupur(M),anathapur(D),Andhra pradash, and this pincode 515201
my name is siva prasad and i am 24 years old i completed my degree course B.com computers and iam from hindhupur(M),anathapur(D),Andhra pradash

In [ ]:
#{}format,(uses the format {} method with placeholders)
name="siva prasad"
age=24
education="B.com computers"
address="hindhupur(M),anathapur(D),Andhra pradash"
file1="my name is {} and i am {} years old i completed my degree course {} and iam from {}".format(name,age,education,address)
app="amazon"
order="shoes"
placed="5/4/24"
address="hindhupur(M),anathapur(D),Andhra pradash,"
pincode="515201"
file2="app name is {} and i order this {} and it will placed in {} and i used this adders {} and this pincode {}".format(app,order,placed,address,pincode)
company="infosis"
role="data analyst"
timings="9:00,5:00."
file3="company name {} and in this  company my role {} and last company timings {} ".format(company,role,timings)
print(file3)
print(file2)
print(file1)

company name infosis and in this  company my role data analyst and last company timings 9:00,5:00.
app name is amazon and i order this shoes and it will placed in 5/4/24 and i used this adders hindhupur(M),anathapur(D),Andhra pradash, and this pincode 515201
my name is siva prasad and i am 24 years old i completed my degree course B.com computers and iam from hindhupur(M),anathapur(D),Andhra pradash

In [ ]:
#string interpolation(f_strings)
name="siva prasad"
age=24
education="B.com computers"
address="hindhupur(M),anathapur(D),Andhra pradash"
file1=f"my name is {name} and i am {age} years old i completed my degree course {education} and iam from {address}"
app="amazon"
order="shoes"
placed="5/4/24"
address="hindhupur(M),anathapur(D),Andhra pradash,"
pincode="515201"
file2=f"app name is {app} and i order this {order} and it will placed in {placed} and i used this adders {address} and this pincode {pincode}"
company="infosis"
role="data analyst"
timings="9:00,5:00."
file3=f"company name {company} and in this  company my role {role} and last company timings {timings} "
print(file3)
print(file2)
print(file1)

company name infosis and in this  company my role data analyst and last company timings 9:00,5:00.
app name is amazon and i order this shoes and it will placed in 5/4/24 and i used this adders hindhupur(M),anathapur(D),Andhra pradash, and this pincode 515201
my name is siva prasad and i am 24 years old i completed my degree course B.com computers and iam from hindhupur(M),anathapur(D),Andhra pradash

# **Dynamically**

In [ ]:
name=input("enter your name= ")
age=int(input("enter your age=" ))
gender=input("enter your gender=")
education=input("qualification=")
address= input("enter your address=")

enter your name= shiva
enter your age=24
enter your gender=male
qualification=degree
enter your address=hindhupur(M),anathapur(D),Andhra pradash

In [ ]:
name=input("enter your name= ")
age=int(input("enter your age=" ))
gender=input("enter your gender=")
education=input("qualification=")
address= input("enter your address=")

print(name)
print(age)
print(gender)
print(education)
print(address)

enter your name= akhila
enter your age=19
enter your gender=female
qualification=lab-tecnician
enter your address=hindhupur(M),anathapur(D),Andhra pradash
akhila
19
female
lab-tecnician
hindhupur(M),anathapur(D),Andhra pradash

In [ ]:
app=input("app name =")
order=input("enter your order name =")
placed=input("order will send this date =")
address=input("mention your address =")
pincode= input("mention your correct pincode =")

app name =amazon
enter your order name =shoes
order will send this date =5/4/24
mention your address =hindhupur(M),anathapur(D),Andhra pradash
mention your correct pincode =515201

In [ ]:
app=input("app name =")
order=input("enter your order name =")
placed=input("order will send this date =")
address=input("mention your address =")
pincode= input("mention your correct pincode =")
print(app)
print(order)
print(placed)
print(address)
print(pincode)

app name =flipkart
enter your order name =rolex watch
order will send this date =5/4/24
mention your address =hindhupur(M),anathapur(D),Andhra pradash
mention your correct pincode =515201
flipkart
rolex watch
5/4/24
hindhupur(M),anathapur(D),Andhra pradash
515201

In [ ]:
company=input("what is the company name =")
role=input("what is your role in that company =")
timings= input("whatis that company timings = ")
qualification= input("what is your qualification =")

what is the company name =infosis
what is your role in that company =data analyst
whatis that company timings = 10:00 to 5:00
what is your qualification =any degree / btech

In [ ]:
company=input("what is the company name =")
role=input("what is your role in that company =")
timings= input("whatis that company timings = ")
qualification= input("what is your qualification =")
print(company)
print(role)
print(timings)
print(qualification)

what is the company name =mahindra  tech
what is your role in that company = graphic diginer
whatis that company timings = 10:00 to 6:00
what is your qualification =any degree / btech
mahindra  tech
 graphic diginer
10:00 to 6:00
any degree / btech

#**string method**

## **some types of in this string**


1.   len():
2.   lower()/upper():
3. strip():
4.replace():
5.split():
6.join():

In [ ]:
#length
#this string uses to messure the words length
name="html"
tags="Bold text,button,title"
course=len(name)
name1=len(tags)
print(course)
print(name1)

4
22

In [ ]:
english="it is an important language"
king ="ruling their kingdom"
queen="she is a king wife"
language=len(english)
rule=len(king)
she=len(queen)
print(language)
print(rule)
print(she)

27
20
18

In [ ]:
drive="it is a storage inbox type"
passage="But some attributes go unnoticed in most users experience"
passage1="Chances are that you don't get to see the difference between the previous example and the one below. However, many user agents use this information at some level. For example, voice browsers, commonly used by visually impaired people, use this attribute to adjust the pronunciation of the voice synthesizer to the specified language."
storage=len(drive)
pas=len(passage)
pas1=len(passage1)
print(storage)
print(pas)
print(pas1)

26
57
333

## **lower()/upper()**

In [ ]:
#converts the string to lower case/uppercase
english="1.it is an important language"
king ="2.ruling their kingdom"
queen="3.she is a king wife"
print(english.upper())
print(king.upper())
print(queen.upper())


english="a.IT IS AN IMPORTANT LANGUAGE"
king="b.RULING THEIR KINGDOM"
queen="c.SHE IS A KING WIFE"
print(english.lower())
print(king.lower())
print(queen.lower())

1.IT IS AN IMPORTANT LANGUAGE
2.RULING THEIR KINGDOM
3.SHE IS A KING WIFE
a.it is an important language
b.ruling their kingdom
c.she is a king wife

In [ ]:
drive="1.it is a storage inbox type"
passage="2.But some attributes go unnoticed in most users experience"
passage1="3.Chances are that you don't get to see the difference between the previous example and the one below. However, many user agents use this information at some level. For example, voice browsers, commonly used by visually impaired people, use this attribute to adjust the pronunciation of the voice synthesizer to the specified language."
print(drive.upper())
print(passage.upper())
print(passage1.upper())
drive1="a.IT IS A STORAGE INBOX TYPE"
passage3="b.BUT SOME ATTRIBUTES GO UNNOTICED IN MOST USERS EXPERIENCE"
passage4="c.CHANCES ARE THAT YOU DON'T GET TO SEE THE DIFFERENCE BETWEEN THE PREVIOUS EXAMPLE AND THE ONE BELOW. HOWEVER, MANY USER AGENTS USE THIS INFORMATION AT SOME LEVEL. FOR EXAMPLE, VOICE BROWSERS, COMMONLY USED BY VISUALLY IMPAIRED PEOPLE, USE THIS ATTRIBUTE TO ADJUST THE PRONUNCIATION OF THE VOICE SYNTHESIZER TO THE SPECIFIED LANGUAGE."
print(drive1.lower())
print(passage3.lower())
print(passage4.lower())

1.IT IS A STORAGE INBOX TYPE
2.BUT SOME ATTRIBUTES GO UNNOTICED IN MOST USERS EXPERIENCE
3.CHANCES ARE THAT YOU DON'T GET TO SEE THE DIFFERENCE BETWEEN THE PREVIOUS EXAMPLE AND THE ONE BELOW. HOWEVER, MANY USER AGENTS USE THIS INFORMATION AT SOME LEVEL. FOR EXAMPLE, VOICE BROWSERS, COMMONLY USED BY VISUALLY IMPAIRED PEOPLE, USE THIS ATTRIBUTE TO ADJUST THE PRONUNCIATION OF THE VOICE SYNTHESIZER TO THE SPECIFIED LANGUAGE.
a.it is a storage inbox type
b.but some attributes go unnoticed in most users experience
c.chances are that you don't get to see the difference between the previous example and the one below. however, many user agents use this information at some level. for example, voice browsers, commonly used by visually impaired people, use this attribute to adjust the pronunciation of the voice synthesizer to the specified language.

## **strip():**

In [ ]:
#remove leading and trailing whitespace
english="      1.it is an important language           "
king ="        2.ruling their kingdom                  "
queen="        3.she is a king wife                     "
drive="        a.it is a storage inbox type              "
passage="      b.But some attributes go unnoticed in most users experience                   "
passage1="                 c.Chances are that you don't get to see the difference between the previous example and the one below. However, many user agents use this information at some level. For example, voice browsers, commonly used by visually impaired people, use this attribute to adjust the pronunciation of the voice synthesizer to the specified language.                                     "
print(english.strip())
print(king.strip())
print(queen.strip())
print(drive.strip())
print(passage.strip())
print(passage1.strip())

1.it is an important language
2.ruling their kingdom
3.she is a king wife
a.it is a storage inbox type
b.But some attributes go unnoticed in most users experience
c.Chances are that you don't get to see the difference between the previous example and the one below. However, many user agents use this information at some level. For example, voice browsers, commonly used by visually impaired people, use this attribute to adjust the pronunciation of the voice synthesizer to the specified language.

## **Replace():**

In [ ]:
#Replace a subsrting  to another substring
english="1.it is an important language"
king ="2.ruling their kingdom"
queen="3.she is a king wife"
drive="a.it is a storage inbox type"
passage="b.But some attributes go unnoticed in most users experience"
passage1="c.Chances are that you don't get to see the difference between the previous example and the one below. However, many user agents use this information at some level. For example, voice browsers, commonly used by visually impaired people, use this attribute to adjust the pronunciation of the voice synthesizer to the specified language."
english1=english.replace("language","fluant english")
king1=king.replace("kingdom","people")
queen1=queen.replace("wife","feyancy")
drive1=drive.replace("inbox type","saving data")
passage2=passage.replace("attributes","elements")
passage3=passage1.replace("However, many user agents use this information at some level.","only that this time we're providing a language tag as value of the attribute.")
print(english1)
print(king1)
print(queen1)
print(drive1)
print(passage2)
print(passage3)

1.it is an important fluant english
2.ruling their people
3.she is a king feyancy
a.it is a storage saving data
b.But some elements go unnoticed in most users experience
c.Chances are that you don't get to see the difference between the previous example and the one below. only that this time we're providing a language tag as value of the attribute. For example, voice browsers, commonly used by visually impaired people, use this attribute to adjust the pronunciation of the voice synthesizer to the specified language.

## **split():**

In [ ]:
#split the strik into a list substring
english="1.it is an important language"
king ="2.ruling their kingdom"
queen="3.she is a king wife"
drive="a.it is a storage inbox type"
passage="b.But some attributes go unnoticed in most users experience"
passage1="c.Chances are that you don't get to see the difference between the previous example and the one below. However, many user agents use this information at some level. For example, voice browsers, commonly used by visually impaired people, use this attribute to adjust the pronunciation of the voice synthesizer to the specified language."
english1=english.split()
king1=king.split()
queen1=queen.split()
drive1=drive.split()
passage3=passage.split()
passage4=passage1.split()
print(english1)
print(king1)
print(drive1)
print(queen1)
print(passage3)
print(passage4)

['1.it', 'is', 'an', 'important', 'language']
['2.ruling', 'their', 'kingdom']
['a.it', 'is', 'a', 'storage', 'inbox', 'type']
['3.she', 'is', 'a', 'king', 'wife']
['b.But', 'some', 'attributes', 'go', 'unnoticed', 'in', 'most', 'users', 'experience']
['c.Chances', 'are', 'that', 'you', "don't", 'get', 'to', 'see', 'the', 'difference', 'between', 'the', 'previous', 'example', 'and', 'the', 'one', 'below.', 'However,', 'many', 'user', 'agents', 'use', 'this', 'information', 'at', 'some', 'level.', 'For', 'example,', 'voice', 'browsers,', 'commonly', 'used', 'by', 'visually', 'impaired', 'people,', 'use', 'this', 'attribute', 'to', 'adjust', 'the', 'pronunciation', 'of', 'the', 'voice', 'synthesizer', 'to', 'the', 'specified', 'language.']

## **join():**

In [ ]:
#join a list of strings
english= ['1.it', 'is', 'an', 'important', 'language']
king=['2.ruling', 'their', 'kingdom']
queen=['a.it', 'is', 'a', 'storage', 'inbox', 'type']
drive=['3.she', 'is', 'a', 'king', 'wife']
passage=['b.But', 'some', 'attributes', 'go', 'unnoticed', 'in', 'most', 'users', 'experience']
passage2=['c.Chances', 'are', 'that', 'you', "don't", 'get', 'to', 'see', 'the', 'difference', 'between', 'the', 'previous', 'example', 'and', 'the', 'one', 'below.', 'However,', 'many', 'user', 'agents', 'use', 'this', 'information', 'at', 'some', 'level.', 'For', 'example,', 'voice', 'browsers,', 'commonly', 'used', 'by', 'visually', 'impaired', 'people,', 'use', 'this', 'attribute', 'to', 'adjust', 'the', 'pronunciation', 'of', 'the', 'voice', 'synthesizer', 'to', 'the', 'specified', 'language.']
english1=" ".join(english)
king1=" ".join(king)
queen1=" ".join(queen)
drive1=" ".join(drive)
passage3=" ".join(passage)
passage4=" ".join(passage2)
print(english1)
print(king1)
print(queen1)
print(drive1)
print(passage3)
print(passage4)

1.it is an important language
2.ruling their kingdom
a.it is a storage inbox type
3.she is a king wife
b.But some attributes go unnoticed in most users experience
c.Chances are that you don't get to see the difference between the previous example and the one below. However, many user agents use this information at some level. For example, voice browsers, commonly used by visually impaired people, use this attribute to adjust the pronunciation of the voice synthesizer to the specified language.

# **extra string methods**


1.   capitalize()	Converts the first character to upper case
2.  casefold()	Converts string into lower case
3.center()	Returns a centered string
4.count()	Returns the number of times a specified value occurs in a string
5.encode()	Returns an encoded version of the string
6.endswith()	Returns true if the string ends with the specified value
7.expandtabs()	Sets the tab size of the string
8.find()	Searches the string for a specified value and returns the position of where it was found
9.format()	Formats specified values in a string
10.format_map()	Formats specified values in a string
11.index()	Searches the string for a specified value and returns the position of where it was found
12.isalnum()	Returns True if all characters in the string are alphanumeric
13.isalpha()	Returns True if all characters in the string are in the alphabet
14.isascii()	Returns True if all characters in the string are ascii characters
15.isdecimal()	Returns True if all characters in the string are decimals
16.isdigit()	Returns True if all characters in the string are digits
17.isidentifier()	Returns True if the string is an identifier
18.islower()	Returns True if all characters in the string are lower case
19.isnumeric()	Returns True if all characters in the string are numeric
20isprintable()	Returns True if all characters in the string are printable
21.isspace()	Returns True if all characters in the string are whitespaces
22.istitle()	Returns True if the string follows the rules of a title
23.isupper()	Returns True if all characters in the string are upper case
24.join()	Converts the elements of an iterable into a string
25.ljust()	Returns a left justified version of the string
26.lower()	Converts a string into lower case
27.lstrip()	Returns a left trim version of the string
28.maketrans()	Returns a translation table to be used in translations
29.partition()	Returns a tuple where the string is parted into three parts
30.replace()	Returns a string where a specified value is replaced with a specified value
31.rfind()	Searches the string for a specified value and returns the last 32.position of where it was found
32.rindex()	Searches the string for a specified value and returns the last position of where it was found
33.rjust()	Returns a right justified version of the string
34.rpartition()	Returns a tuple where the string is parted into three parts
35.rsplit()	Splits the string at the specified separator, and returns a list
36.rstrip()	Returns a right trim version of the string
37.split()	Splits the string at the specified separator, and returns a list
38.splitlines()	Splits the string at line breaks and returns a list
39.startswith()	Returns true if the string starts with the specified value
40.strip()	Returns a trimmed version of the string
41.swapcase()	Swaps cases, lower case becomes upper case and vice versa
42.title()	Converts the first character of each word to upper case
43.translate()	Returns a translated string
44.upper()	Converts a string into upper case
45.zfill()	Fills the string with a specified number of 0 values at the beginning

In [ ]:
#capitalize() Converts the first character to upper case
english="it is an important language"
english1=(english.capitalize())
print(english1)

It is an important language

In [ ]:
#casefold() Converts string into lower case
english="It is an important language"
english1=(english.casefold())
print(english1)

it is an important language

In [ ]:
#center() Returns a centered string
english="important"
english1=english.center(20)
print(english1)
#giving charecters in the value place.

     important

In [ ]:
#count() Returns the number of times a specified value occurs in a string
english="eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee"
e=english.count("e")
print(e)

149

In [ ]:
#encode() Returns an encoded version of the string
english="It is an important "
english1=english.encode()
print(english1)

b'It is an important '

In [ ]:
#endswith() Returns true if the string ends with the specified value
english="It is an important language."
english1=english.endswith(".")
print(english1)

True

In [ ]:
#expandtabs() Sets the tab size of the string
english="I\tt \ti\ts \ta\tn \ti\tm\tp\to\tr\tt\ta\tn\tt \tl\ta\tn\tg\tu\ta\tg\te"
english3="It \tis \tan \timportant \tlanguage."
english1=english.expandtabs(5)
english2=english3.expandtabs(5)
print(english1)
print(english2)
#using t is give sapces to the expandtabs. anf before t give a \   it  is applecable to code run

I    t    i    s    a    n    i    m    p    o    r    t    a    n    t    l    a    n    g    u    a    g    e
It   is   an   important      language.

In [ ]:
#find() Searches the string for a specified value and returns the position of where it was found
english="It is an important language"
#        0123
english1=english.find("i")
print(english1)
#taking positive 0 1 2 3 4 like this

3

# **python tuple**


1.  one of the data type
2.     it is immutable
3.    it is supported by ","

## **creating tuple**

In [4]:
countries=("india","japan","Afghanistan","china")
states=("andhra pradesh","arunachal pradesh","assam","bihar")
areas=("ntrcolony","bapuji nagar","mukkuda peta","rahamathpur")
mandal=("hindhupur","rapthadu","nizambad","lepakshi")
people=(2345,5432.6543,7654,9876)
all=(108,"shiva",2.3,"anythig")# this is mixid tuple
one=(98,)   #compalsary we should mention the "," and pranthasis"()" this is single tuple
print(countries)
print(type(countries))
print(states)
print(type(states))
print(areas)
print(type(areas))
print(mandal)
print(type(mandal))
print(people)
print(type(people))
print(all)
print(type(all))
print(one)
print(type(one))

('india', 'japan', 'Afghanistan', 'china')
<class 'tuple'>
('andhra pradesh', 'arunachal pradesh', 'assam', 'bihar')
<class 'tuple'>
('ntrcolony', 'bapuji nagar', 'mukkuda peta', 'rahamathpur')
<class 'tuple'>
('hindhupur', 'rapthadu', 'nizambad', 'lepakshi')
<class 'tuple'>
(2345, 5432.6543, 7654, 9876)
<class 'tuple'>
(108, 'shiva', 2.3, 'anythig')
<class 'tuple'>
(98,)
<class 'tuple'>

## **accessing tuple**

In [11]:
countries=("india","japan","Afghanistan","china")
states=("andhra pradesh","arunachal pradesh","assam","bihar")
areas=("ntrcolony","bapuji nagar","mukkuda peta","rahamathpur")
mandal=("hindhupur","rapthadu","nizambad","lepakshi")
people=(2345,5432,6543,7654,9876)
#index
print("-------------------------->index")
print(countries[0])
print(states[1])
print(areas[2])
print(mandal[3])
print(people[4])
#slicing
print("-------------------------->slicing")
print(countries[-2])
print(states[-3])
print(areas[-1])
print(mandal[2:4])
print(people[1:4])

-------------------------->index
india
arunachal pradesh
mukkuda peta
lepakshi
9876
-------------------------->slicing
Afghanistan
arunachal pradesh
rahamathpur
('nizambad', 'lepakshi')
(5432, 6543, 7654)

## ***immutable***
*can't change strings in this immutable
### *once a tuple is created you cannot change into element or add /remove elements*

In [12]:
#'tuple' object does not support item assignment
countries['africa']=("india","japan","Afghanistan","china")
states['telangana']=("andhra pradesh","arunachal pradesh","assam","bihar")
areas["sai nagar"]=("ntrcolony","bapuji nagar","mukkuda peta","rahamathpur")
mandal["chilukuluru peta"]=("hindhupur","rapthadu","nizambad","lepakshi")
people[2984]=(2345,5432,6543,7654,9876)
#'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

# **tuple opperations**


1.   concantination
2.   repetion

In [14]:
#concantination
countries=("india","japan","Afghanistan","china")
states=("andhra pradesh","arunachal pradesh","assam","bihar")
areas=("ntrcolony","bapuji nagar","mukkuda peta","rahamathpur")
mandal=("hindhupur","rapthadu","nizambad","lepakshi")
people=(2345,5432,6543,7654,9876)
countries1=("india","japan","Afghanistan","china")
states2=("andhra pradesh","arunachal pradesh","assam","bihar")
areas3=("ntrcolony","bapuji nagar","mukkuda peta","rahamathpur")
mandal4=("hindhupur","rapthadu","nizambad","lepakshi")
people5=(2345,5432,6543,7654,9876)
a=countries+countries1
b=states+states2
c=areas+areas3
d=mandal+mandal4
e=people+people5
print(a)
print(b)
print(c)
print(d)
print(e)

('india', 'japan', 'Afghanistan', 'china', 'india', 'japan', 'Afghanistan', 'china')
('andhra pradesh', 'arunachal pradesh', 'assam', 'bihar', 'andhra pradesh', 'arunachal pradesh', 'assam', 'bihar')
('ntrcolony', 'bapuji nagar', 'mukkuda peta', 'rahamathpur', 'ntrcolony', 'bapuji nagar', 'mukkuda peta', 'rahamathpur')
('hindhupur', 'rapthadu', 'nizambad', 'lepakshi', 'hindhupur', 'rapthadu', 'nizambad', 'lepakshi')
(2345, 5432, 6543, 7654, 9876, 2345, 5432, 6543, 7654, 9876)

In [15]:
#repetion
countries=("india","japan","Afghanistan","china")
states=("andhra pradesh","arunachal pradesh","assam","bihar")
areas=("ntrcolony","bapuji nagar","mukkuda peta","rahamathpur")
mandal=("hindhupur","rapthadu","nizambad","lepakshi")
people=(2345,5432,6543,7654,9876)
a=countries*5
b=states*6
c=areas*7
d=mandal*8
e=people*9
print(a)
print(b)
print(c)
print(d)
print(e)

('india', 'japan', 'Afghanistan', 'china', 'india', 'japan', 'Afghanistan', 'china', 'india', 'japan', 'Afghanistan', 'china', 'india', 'japan', 'Afghanistan', 'china', 'india', 'japan', 'Afghanistan', 'china')
('andhra pradesh', 'arunachal pradesh', 'assam', 'bihar', 'andhra pradesh', 'arunachal pradesh', 'assam', 'bihar', 'andhra pradesh', 'arunachal pradesh', 'assam', 'bihar', 'andhra pradesh', 'arunachal pradesh', 'assam', 'bihar', 'andhra pradesh', 'arunachal pradesh', 'assam', 'bihar', 'andhra pradesh', 'arunachal pradesh', 'assam', 'bihar')
('ntrcolony', 'bapuji nagar', 'mukkuda peta', 'rahamathpur', 'ntrcolony', 'bapuji nagar', 'mukkuda peta', 'rahamathpur', 'ntrcolony', 'bapuji nagar', 'mukkuda peta', 'rahamathpur', 'ntrcolony', 'bapuji nagar', 'mukkuda peta', 'rahamathpur', 'ntrcolony', 'bapuji nagar', 'mukkuda peta', 'rahamathpur', 'ntrcolony', 'bapuji nagar', 'mukkuda peta', 'rahamathpur', 'ntrcolony', 'bapuji nagar', 'mukkuda peta', 'rahamathpur')
('hindhupur', 'rapthadu', 'nizambad', 'lepakshi', 'hindhupur', 'rapthadu', 'nizambad', 'lepakshi', 'hindhupur', 'rapthadu', 'nizambad', 'lepakshi', 'hindhupur', 'rapthadu', 'nizambad', 'lepakshi', 'hindhupur', 'rapthadu', 'nizambad', 'lepakshi', 'hindhupur', 'rapthadu', 'nizambad', 'lepakshi', 'hindhupur', 'rapthadu', 'nizambad', 'lepakshi', 'hindhupur', 'rapthadu', 'nizambad', 'lepakshi')
(2345, 5432, 6543, 7654, 9876, 2345, 5432, 6543, 7654, 9876, 2345, 5432, 6543, 7654, 9876, 2345, 5432, 6543, 7654, 9876, 2345, 5432, 6543, 7654, 9876, 2345, 5432, 6543, 7654, 9876, 2345, 5432, 6543, 7654, 9876, 2345, 5432, 6543, 7654, 9876, 2345, 5432, 6543, 7654, 9876)

# **tuple method**
tuples have limited methods compared to lists due to their immutablity
## count():
returns the number of occurrences of specified value

In [17]:
#count
countries=('india', 'japan', 'Afghanistan', 'china', 'india', 'japan', 'Afghanistan', 'china', 'india', 'japan', 'Afghanistan', 'china', 'india', 'japan', 'Afghanistan', 'china', 'india', 'japan', 'Afghanistan', 'china')
states=('andhra pradesh', 'arunachal pradesh', 'assam', 'bihar', 'andhra pradesh', 'arunachal pradesh', 'assam', 'bihar', 'andhra pradesh', 'arunachal pradesh', 'assam', 'bihar', 'andhra pradesh', 'arunachal pradesh', 'assam', 'bihar', 'andhra pradesh', 'arunachal pradesh', 'assam', 'bihar', 'andhra pradesh', 'arunachal pradesh', 'assam', 'bihar')
areas=('ntrcolony', 'bapuji nagar', 'mukkuda peta', 'rahamathpur', 'ntrcolony', 'bapuji nagar', 'mukkuda peta', 'rahamathpur', 'ntrcolony', 'bapuji nagar', 'mukkuda peta', 'rahamathpur', 'ntrcolony', 'bapuji nagar', 'mukkuda peta', 'rahamathpur', 'ntrcolony', 'bapuji nagar', 'mukkuda peta', 'rahamathpur', 'ntrcolony', 'bapuji nagar', 'mukkuda peta', 'rahamathpur', 'ntrcolony', 'bapuji nagar', 'mukkuda peta', 'rahamathpur')
mandal=('hindhupur', 'rapthadu', 'nizambad', 'lepakshi', 'hindhupur', 'rapthadu', 'nizambad', 'lepakshi', 'hindhupur', 'rapthadu', 'nizambad', 'lepakshi', 'hindhupur', 'rapthadu', 'nizambad', 'lepakshi', 'hindhupur', 'rapthadu', 'nizambad', 'lepakshi', 'hindhupur', 'rapthadu', 'nizambad', 'lepakshi', 'hindhupur', 'rapthadu', 'nizambad', 'lepakshi', 'hindhupur', 'rapthadu', 'nizambad', 'lepakshi')
people=(2345, 5432, 6543, 7654, 9876, 2345, 5432, 6543, 7654, 9876, 2345, 5432, 6543, 7654, 9876, 2345, 5432, 6543, 7654, 9876, 2345, 5432, 6543, 7654, 9876, 2345, 5432, 6543, 7654, 9876, 2345, 5432, 6543, 7654, 9876, 2345, 5432, 6543, 7654, 9876, 2345, 5432, 6543, 7654, 9876)
a=countries.count("japan")
b=states.count("andhra pradesh")
c=areas.count("ntrcolony")
d=mandal.count("hindhupur")
e=people.count(2345)
print(a)
print(b)
print(c)
print(d)
print(e)

5
6
7
8
9

# **index**
returns the index of the first occurrence of a specified value

In [19]:
#index
countries=("india","japan","Afghanistan","china")
states=("andhra pradesh","arunachal pradesh","assam","bihar")
areas=("ntrcolony","bapuji nagar","mukkuda peta","rahamathpur")
mandal=("hindhupur","rapthadu","nizambad","lepakshi")
people=(2345,5432,6543,7654,9876)
a=countries.index("japan")
b=states.index("assam")
c=areas.index("mukkuda peta")
d=mandal.index("lepakshi")
e=people.index(7654)
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
2
3
3