# **core data type**

In [5]:
Restaurant={
    "name":"himalaya restaurant",
    "years exp":"5years",
    "rating": "4star",
    "items":108
}
Restaurant

{'name': 'himalaya restaurant',
 'years exp': '5years',
 'rating': '4star',
 'items': 108}

In [7]:
teks={
    "shiva":"degree",
    "pavan":"btech",
    "jeswanth":"btech final year",
    "rohit":"betch",
    "prasad":"betach"
}
teks

{'shiva': 'degree',
 'pavan': 'btech',
 'jeswanth': 'btech final year',
 'rohit': 'betch',
 'prasad': 'betach'}

In [11]:
#person={"key":"value","key":"value","key":"value",}
person={
    "name":"shiva",
    "age":24,
    "from":"ap"
}
person1={
    "name":"pavan",
    "age":23,
    "from":"ap"
}
person2={
    "name":"jaswanth",
    "age":24,
    "from":"local"
}
print(person)
print(person1)
print(person2)

{'name': 'shiva', 'age': 24, 'from': 'ap'}
{'name': 'pavan', 'age': 23, 'from': 'ap'}
{'name': 'jaswanth', 'age': 24, 'from': 'local'}

# **accessing value**

In [12]:
#you can acces the values in adictionary using the key
Restaurant={
    "name":"himalaya restaurant",
    "years exp":"5years",
    "rating": "4star",
    "items":108
}

teks={
    "shiva":"degree",
    "pavan":"btech",
    "jeswanth":"btech final year",
    "rohit":"betch",
    "prasad":"betach"
}

person={
    "name":"shiva",
    "age":24,
    "from":"ap"
}
person1={
    "name":"pavan",
    "age":23,
    "from":"ap"
}
person2={
    "name":"jaswanth",
    "age":24,
    "from":"local"
}
print(Restaurant["name"])
print(teks["shiva"])
print(person["age"])
print(person1["from"])
print(person2["name"])

himalaya restaurant
degree
24
ap
jaswanth

## **modifing and adding elements**
dictionaries are mutable ,so you can modify exisiting or add new one

In [26]:
Restaurant={
    "name":"himalaya restaurant",
    "years exp":"5years",
    "rating": "4star",
    "items":108
}

teks={
    "shiva":"degree",
    "pavan":"btech",
    "jeswanth":"btech final year",
    "rohit":"btech",
    "prasad":"btech"
}

person={
    "name":"shiva",
    "age":24,
    "from":"ap"
}
person1={
    "name":"pavan",
    "age":23,
    "from":"ap"
}
person2={
    "name":"jaswanth",
    "age":24,
    "from":"local"
}
#modify an entry
Restaurant["rating"]="5star"
teks["pavan"]="degree"
person["name"]="shiva prasad"
person1["age"]=24
person["from"]="TS"
#adding an entry
Restaurant["area"]="hindhupur"
teks["age"]=[24,23,24,23,24]
person["area"]="hightech city"
person1["area"]="peddhamma gudi"
person2["area"]="jublihills"
print(Restaurant)
print(teks)
print(person)
print(person1)
print(person2)

{'name': 'himalaya restaurant', 'years exp': '5years', 'rating': '5star', 'items': 108, 'area': 'hindhupur'}
{'shiva': 'degree', 'pavan': 'degree', 'jeswanth': 'btech final year', 'rohit': 'btech', 'prasad': 'btech', 'age': [24, 23, 24, 23, 24]}
{'name': 'shiva prasad', 'age': 24, 'from': 'TS', 'area': 'hightech city'}
{'name': 'pavan', 'age': 24, 'from': 'ap', 'area': 'peddhamma gudi'}
{'name': 'jaswanth', 'age': 24, 'from': 'local', 'area': 'jublihills'}

# **Dictionary methods:**
return the value for a specifide key it allow you to provide  a defult value if the key is not found.

In [25]:
Restaurant={
    "name":"himalaya restaurant",
    "years exp":"5years",
    "rating": "4star",
    "items":108
}

teks={
    "shiva":"degree",
    "pavan":"btech",
    "jeswanth":"btech final year",
    "rohit":"btech",
    "prasad":"btech"
}

person={
    "name":"shiva",
    "age":24,
    "from":"ap"
}
person1={
    "name":"pavan",
    "age":23,
    "from":"ap"
}
person2={
    "name":"jaswanth",
    "age":24,
    "from":"local"
}
a=Restaurant.get("name")
b=teks.get("jeswanth")
c=person.get("local","no value")
d=person1.get("from")
e=person2.get("gender","no value")
print(a)
print(b)
print(c)
print(d)
print(e)

himalaya restaurant
btech final year
no value
ap
no value

# **key**
returns a view of all the keys in the dicitonary

In [24]:
Restaurant={
    "name":"himalaya restaurant",
    "years exp":"5years",
    "rating": "4star",
    "items":108
}

teks={
    "shiva":"degree",
    "pavan":"btech",
    "jeswanth":"btech final year",
    "rohit":"btech",
    "prasad":"btech"
}

person={
    "name":"shiva",
    "age":24,
    "from":"ap"
}
person1={
    "name":"pavan",
    "age":23,
    "from":"ap"
}
person2={
    "name":"jaswanth",
    "age":24,
    "from":"local"
}
#keys
a=Restaurant.keys()
b=teks.keys()
c=person.keys()
d=person1.keys()
e=person2.keys()
print(a)
print(b)
print(c)
print(d)
print(e)

dict_keys(['name', 'years exp', 'rating', 'items'])
dict_keys(['shiva', 'pavan', 'jeswanth', 'rohit', 'prasad'])
dict_keys(['name', 'age', 'from'])
dict_keys(['name', 'age', 'from'])
dict_keys(['name', 'age', 'from'])

# **values():**
returns a view of all the values in the dicitionares

In [23]:
Restaurant={
    "name":"himalaya restaurant",
    "years exp":"5years",
    "rating": "4star",
    "items":108
}

teks={
    "shiva":"degree",
    "pavan":"btech",
    "jeswanth":"btech final year",
    "rohit":"btech",
    "prasad":"btech"
}

person={
    "name":"shiva",
    "age":24,
    "from":"ap"
}
person1={
    "name":"pavan",
    "age":23,
    "from":"ap"
}
person2={
    "name":"jaswanth",
    "age":24,
    "from":"local"
}
#values
a=Restaurant.values()
b=teks.values()
c=person.values()
d=person1.values()
e=person2.values()
print(a)
print(b)
print(c)
print(d)
print(e)

dict_values(['himalaya restaurant', '5years', '4star', 108])
dict_values(['degree', 'btech', 'btech final year', 'btech', 'btech'])
dict_values(['shiva', 24, 'ap'])
dict_values(['pavan', 23, 'ap'])
dict_values(['jaswanth', 24, 'local'])

# **items():**
returns a view of all key- value pair of types

In [21]:
Restaurant={
    "name":"himalaya restaurant",
    "years exp":"5years",
    "rating": "4star",
    "items":108
}

teks={
    "shiva":"degree",
    "pavan":"btech",
    "jeswanth":"btech final year",
    "rohit":"btech",
    "prasad":"btech"
}

person={
    "name":"shiva",
    "age":24,
    "from":"ap"
}
person1={
    "name":"pavan",
    "age":23,
    "from":"ap"
}
person2={
    "name":"jaswanth",
    "age":24,
    "from":"local"

}
#items
a=Restaurant.items()
b=teks.items()
c=person.items()
d=person1.items()
e=person2.items()
print(a)
print(b)
print(c)
print(d)
print(e)

dict_items([('name', 'himalaya restaurant'), ('years exp', '5years'), ('rating', '4star'), ('items', 108)])
dict_items([('shiva', 'degree'), ('pavan', 'btech'), ('jeswanth', 'btech final year'), ('rohit', 'btech'), ('prasad', 'btech')])
dict_items([('name', 'shiva'), ('age', 24), ('from', 'ap')])
dict_items([('name', 'pavan'), ('age', 23), ('from', 'ap')])
dict_items([('name', 'jaswanth'), ('age', 24), ('from', 'local')])

# **pop():**
remove and returns the value for a specified

In [22]:
Restaurant={
    "name":"himalaya restaurant",
    "years exp":"5years",
    "rating": "4star",
    "items":108
}

teks={
    "shiva":"degree",
    "pavan":"btech",
    "jeswanth":"btech final year",
    "rohit":"btech",
    "prasad":"btech"
}

person={
    "name":"shiva",
    "age":24,
    "from":"ap"
}
person1={
    "name":"pavan",
    "age":23,
    "from":"ap"
}
person2={
    "name":"jaswanth",
    "age":24,
    "from":"local"
}
#slected item will removed in the key-value
#pop():
a=Restaurant.pop("items")
b=teks.pop("shiva")
c=person.pop("from")
d=person1.pop("age")
e=person2.pop("name")
print(a)
print(b)
print(c)
print(d)
print(e)

108
degree
ap
23
jaswanth

# **popitem():**
removes and returns the last insted key-value pair of a tuple

In [28]:
Restaurant={
    "name":"himalaya restaurant",
    "years exp":"5years",
    "rating": "4star",
    "items":108
}

teks={
    "shiva":"degree",
    "pavan":"btech",
    "jeswanth":"btech final year",
    "rohit":"btech",
    "prasad":"btech"
}

person={
    "name":"shiva",
    "age":24,
    "from":"ap"
}
person1={
    "name":"pavan",
    "age":23,
    "from":"ap"
}
person2={
    "name":"jaswanth",
    "age":24,
    "from":"local"
}
#last item will remove
#popitem
a=Restaurant.popitem()
b=teks.popitem()
c=person.popitem()
d=person1.popitem()
e=person2.popitem()
print(a)
print(b)
print(c)
print(d)
print(e)

('items', 108)
('prasad', 'btech')
('from', 'ap')
('from', 'ap')
('from', 'local')

# **update():**

In [30]:
Restaurant={
    "name":"himalaya restaurant",
    "years exp":"5years",
    "rating": "4star",
    "items":108
}

teks={
    "shiva":"degree",
    "pavan":"btech",
    "jeswanth":"btech final year",
    "rohit":"btech",
    "prasad":"btech"
}

person={
    "name":"shiva",
    "age":24,
    "from":"ap"
}
person1={
    "name":"pavan",
    "age":23,
    "from":"ap"
}
person2={
    "name":"jaswanth",
    "age":24,
    "from":"local"
}
#update any of mistake in previous date it will remove that place insert the correct data

q={"name":"sarigama family restaurant",
    "years exp":"10years",
    "rating": "5star",
    "items":150}
w={"shiva":"btech",
    "pavan":"degree",
    "jeswanth":"degree",
    "rohit":"degree",
    "prasad":"degree"}
e={"name":"shiva prasad",
    "age":19,
    "from":"TS"}
r={"name":"pavan kalyan",
    "age":21,
    "from":"TS"}
t={"name":"jaswanth (hemanth)",
    "age":25,
    "from":"AP"}
Restaurant.update(q)
teks.update(w)
person.update(e)
person1.update(r)
person2.update(t)
print(Restaurant)
print(teks)
print(person)
print(person1)
print(person2)

{'name': 'sarigama family restaurant', 'years exp': '10years', 'rating': '5star', 'items': 150}
{'shiva': 'btech', 'pavan': 'degree', 'jeswanth': 'degree', 'rohit': 'degree', 'prasad': 'degree'}
{'name': 'shiva prasad', 'age': 19, 'from': 'TS'}
{'name': 'pavan kalyan', 'age': 21, 'from': 'TS'}
{'name': 'jaswanth (hemanth)', 'age': 25, 'from': 'AP'}

# **python sets**


1.   set not allowed in duplicte elements
2.   using {}supprot by ","
3. colloction of unique elements.

# **creating sets:**

In [32]:
#creating an empty set
#empty-set =set()
#creating a set with elements

names={"shiva","pavan","jeswanth","anil","nithin","prasad","rohit"}
numbers={1,2,3,4,5,6,7,8,9,21,10}
fruits={"apple","banana","orange","pineapple","sapota","pomogarate"}
course={"java","python","data science","data analyst"}
states={"ap","ts","bihar"}
print(names)
print(numbers)
print(fruits)
print(course)
print(states)

{'anil', 'prasad', 'jeswanth', 'nithin', 'shiva', 'rohit', 'pavan'}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 21}
('apple', 'banana', 'orange', 'pineapple', 'sapota', 'pomogarate')
{'data science', 'python', 'data analyst', 'java'}
{'ts', 'bihar', 'ap'}

## **Duplicate**
dupicates removes in set

In [36]:
names={"shiva","pavan","jeswanth","anil","nithin","prasad","rohit","shiva","pavan","jeswanth","anil","nithin","prasad","rohit"}
numbers={1,2,3,4,5,6,7,8,9,21,101,2,3,4,5,6,7,8,9,21,10}
fruits={"apple","banana","orange","pineapple","sapota","pomogarate","apple","banana","orange","pineapple","sapota","pomogarate"}
course={"java","python","data science","data analyst","java","python","data science","data analyst"}
states={"ap","ts","bihar","ap","ts","bihar","ap","ts","bihar","ap","ts","bihar"}
print(names)
print(numbers)
print(fruits)
print(course)
print(states)

{'anil', 'prasad', 'jeswanth', 'nithin', 'shiva', 'rohit', 'pavan'}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 101, 10, 21}
{'pineapple', 'apple', 'sapota', 'orange', 'banana', 'pomogarate'}
{'data science', 'python', 'data analyst', 'java'}
{'ts', 'bihar', 'ap'}

# **add():**
add items to a set in python in python we use the add() metod to add on ite to a set

In [45]:
#add():
names={"shiva","pavan","jeswanth","anil"}
numbers={1,2,3,4,5,6,7,8,9,21,10}
fruits={"apple","banana","orange","pineapple","sapota","pomogarate"}
course={"java","python","data science","data analyst"}
states={"ap","ts","bihar"}

names.add("nithin")
numbers.add(23)
fruits.add("corn")
course.add("digital marketing")
states.add("utter pradesh")

print("updated set:",names)
print("updated set:",numbers)
print("updated set:",fruits)
print("updated set:",course)
print("updated set:",states)

updated set: {'anil', 'pavan', 'jeswanth', 'shiva', 'nithin'}
updated set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 21, 23}
updated set: {'corn', 'pineapple', 'apple', 'sapota', 'orange', 'banana', 'pomogarate'}
updated set: {'data science', 'data analyst', 'digital marketing', 'python', 'java'}
updated set: {'ts', 'utter pradesh', 'bihar', 'ap'}

## **add set in removing duplicates**

In [46]:
names={"shiva","pavan","jeswanth","anil"}
numbers={1,2,3,4,5,6,7,8,9,21,10}
fruits={"apple","banana","orange"}
course={"java","python","data science","data analyst"}
states={"ap","ts","bihar"}
a={"nithin","prasad","rohit","pavan","jeswanth"}
b={1,2,3,4,5,101,102,103,104,105}
c={"pineapple","sapota","pomogarate","apple","banana"}
d={"java","python","data science","data analyst","digital marketing"}
e={"ap","ts","bihar","utter pradesh"}
q=names.update(a)
w=numbers.update(b)
r=fruits.update(c)
t=course.update(d)
y=states.update(d)
print(names)
print(numbers)
print(fruits)
print(course)
print(states)

{'anil', 'prasad', 'nithin', 'jeswanth', 'shiva', 'rohit', 'pavan'}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 21, 101, 102, 103, 104, 105}
{'pineapple', 'pomogarate', 'sapota', 'apple', 'orange', 'banana'}
{'data science', 'data analyst', 'digital marketing', 'python', 'java'}
{'data science', 'ts', 'data analyst', 'ap', 'digital marketing', 'bihar', 'python', 'java'}

# **remove an element from a set**
we use the discard():(or)remove(): method to remove the specified element from a set

In [49]:
names={"shiva","pavan","jeswanth","anil"}
numbers={1,2,3,4,5,6,7,8,9,21,10}
fruits={"apple","banana","orange"}
course={"java","python","data science","data analyst"}
states={"ap","ts","bihar"}
a=names.discard("shiva")
b=numbers.remove(10)
c=fruits.remove("apple")
d=course.discard("python")
e=states.discard("bihar")
print("set after remove():",names)
print("set after remove():",numbers)
print("set after remove():",fruits)
print("set after remove():",course)
print("set after remove():",states)

set after remove(): {'jeswanth', 'anil', 'pavan'}
set after remove(): {1, 2, 3, 4, 5, 6, 7, 8, 9, 21}
set after remove(): {'orange', 'banana'}
set after remove(): {'data science', 'data analyst', 'java'}
set after remove(): {'ts', 'ap'}

## **even numbers**

In [50]:
numbers={2,4,6,8,10,12,14,16,18,20,20,20,24,16,18,28,30}
num={2,4,6,8,10,12,14,16,18,20,20,20,24,16,18,28,30}
number={2,4,6,8,10,12,14,16,18,20,20,20,24,16,18,28,30}
numb={2,4,6,8,10,12,14,16,18,20,20,20,24,16,18,28,30}
nu={2,4,6,8,10,12,14,16,18,20,20,20,24,16,18,28,30}
print("total elements:",len(numbers))
print("total elements:",len(num))
print("total elements:",len(number))
print("total elements:",len(numb))
print("total elements:",len(nu))
#counting last remove the duplecate

total elements: 13
total elements: 13
total elements: 13
total elements: 13
total elements: 13

# **sets**
## **fore types of oparetions**


1.   set oparation
2.   set intersection
3.  difference between two sets
4.set symmetric differnce

# **set oparation**

In [51]:
names={"shiva","pavan","jeswanth","anil"}
numbers={1,2,3,4,5,6,7,8,9,21,10}
fruits={"apple","banana","orange"}
course={"java","python","data science","data analyst"}
states={"ap","ts","bihar"}
a={"nithin","prasad","rohit","pavan","jeswanth"}
b={1,2,3,4,5,101,102,103,104,105}
c={"pineapple","sapota","pomogarate","apple","banana"}
d={"java","python","data science","data analyst","digital marketing"}
e={"ap","ts","bihar","utter pradesh"}
print("union using |:",names|a)
print("union using union():",names.union(a))
print("union using |:",numbers|b)
print("union using union():",numbers.union(b))
print("union using |:",fruits|c)
print("union using union():",fruits.union(c))
print("union using |:",course|d)
print("union using union():",course.union(d))
print("union using |:",states|e)
print("union using union():",states.union(e))

union using |: {'anil', 'prasad', 'nithin', 'jeswanth', 'shiva', 'rohit', 'pavan'}
union using union(): {'anil', 'prasad', 'nithin', 'jeswanth', 'shiva', 'rohit', 'pavan'}
union using |: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 21, 101, 102, 103, 104, 105}
union using union(): {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 21, 101, 102, 103, 104, 105}
union using |: {'pineapple', 'pomogarate', 'sapota', 'apple', 'orange', 'banana'}
union using union(): {'pineapple', 'pomogarate', 'sapota', 'apple', 'orange', 'banana'}
union using |: {'data science', 'data analyst', 'digital marketing', 'python', 'java'}
union using union(): {'data science', 'data analyst', 'digital marketing', 'python', 'java'}
union using |: {'ts', 'ap', 'bihar', 'utter pradesh'}
union using union(): {'ts', 'ap', 'bihar', 'utter pradesh'}

# **set intersection**

In [53]:
#same elements will taken  in set intersection
names={"shiva","pavan","jeswanth","anil"}
numbers={1,2,3,4,5,6,7,8,9,21,10}
fruits={"apple","banana","orange"}
course={"java","python","data science","data analyst"}
states={"ap","ts","bihar"}
a={"nithin","prasad","rohit","pavan","jeswanth"}
b={1,2,3,4,5,101,102,103,104,105}
c={"pineapple","sapota","pomogarate","apple","banana"}
d={"java","python","data science","data analyst","digital marketing"}
e={"ap","ts","bihar","utter pradesh"}
print("intersection using:",names&a)
print("intersection using intersecion():",names.intersection(a))
print("intersection using:",numbers&b)
print("intersection using intersecion():",numbers.intersection(b))
print("intersection using:",fruits&c)
print("intersection using intersecion():",fruits.intersection(c))
print("intersection using:",course&d)
print("intersection using intersecion():",course.intersection(d))
print("intersection using:",states&e)
print("intersection using intersecion():",states.intersection(e))

intersection using: {'jeswanth', 'pavan'}
intersection using intersecion(): {'jeswanth', 'pavan'}
intersection using: {1, 2, 3, 4, 5}
intersection using intersecion(): {1, 2, 3, 4, 5}
intersection using: {'banana', 'apple'}
intersection using intersecion(): {'banana', 'apple'}
intersection using: {'data science', 'python', 'data analyst', 'java'}
intersection using intersecion(): {'data science', 'python', 'data analyst', 'java'}
intersection using: {'ts', 'bihar', 'ap'}
intersection using intersecion(): {'ts', 'bihar', 'ap'}

# **difference between two sets**


1.   the differnce between two sets a and b include elaments of a set a that are not present  on  set b
2.   remove elements that are in the first set in the second

In [56]:
names={"shiva","pavan","jeswanth","anil"}
numbers={1,2,3,4,5,6,7,8,9,21,10}
fruits={"apple","banana","orange"}
course={"java","python","data science","data analyst"}
states={"ap","ts","bihar"}
a={"nithin","prasad","rohit","pavan","jeswanth"}
b={1,2,3,4,5,101,102,103,104,105}
c={"pineapple","sapota","pomogarate","apple","banana"}
d={"java","python","data science","data analyst","digital marketing"}
e={"ap","ts","bihar","utter pradesh"}
print("difference using-:",names-a)
print("difference using difference():",names.difference(a))

print("difference using-:",numbers-b)
print("difference using difference():",numbers.difference(b))

print("difference using-:",fruits-c)
print("difference using difference():",fruits.difference(c))

print("differnce using-:",course-d)
print("differnce using differnce():",course.difference(d))

print("difference using-:",states-e)
print("difference using difference():",states.difference(e))

differnce using-: {'shiva', 'anil'}
differnce using differnce(): {'shiva', 'anil'}
differnce using-: {6, 7, 8, 9, 10, 21}
differnce using differnce(): {6, 7, 8, 9, 10, 21}
differnce using-: {'orange'}
differnce using differnce(): {'orange'}
differnce using-: set()
differnce using differnce(): set()
differnce using-: set()
differnce using differnce(): set()

# **set symmetric difference**


1.  the symetric between two sets a and b includes all elements of a and b without the commen elements
2.   return elements that one in either of the sets ,but not include

In [57]:
names={"shiva","pavan","jeswanth","anil"}
numbers={1,2,3,4,5,6,7,8,9,21,10}
fruits={"apple","banana","orange"}
course={"java","python","data science","data analyst"}
states={"ap","ts","bihar"}
a={"nithin","prasad","rohit","pavan","jeswanth"}
b={1,2,3,4,5,101,102,103,104,105}
c={"pineapple","sapota","pomogarate","apple","banana"}
d={"java","python","data science","data analyst","digital marketing"}
e={"ap","ts","bihar","utter pradesh"}
print(" using ^:",names^a)
print(" using symmetric-difference():",names.symmetric_difference(a))

print(" using ^:",numbers^b)
print(" using symmetric-difference():",numbers.symmetric_difference(b))

print(" using ^:",fruits^c)
print(" using symmetric-difference():",fruits.symmetric_difference(c))

print(" using ^:",course^d)
print(" using symmetric-difference():",course.symmetric_difference(d))

print(" using ^:",states^e)
print(" using symmetric-difference():",states.symmetric_difference(e))

 using ^: {'anil', 'prasad', 'shiva', 'rohit', 'nithin'}
 using symmetric-difference(): {'anil', 'prasad', 'shiva', 'rohit', 'nithin'}
 using ^: {101, 102, 103, 104, 105, 6, 7, 8, 9, 10, 21}
 using symmetric-difference(): {101, 102, 103, 104, 105, 6, 7, 8, 9, 10, 21}
 using ^: {'pineapple', 'sapota', 'orange', 'pomogarate'}
 using symmetric-difference(): {'pineapple', 'sapota', 'orange', 'pomogarate'}
 using ^: {'digital marketing'}
 using symmetric-difference(): {'digital marketing'}
 using ^: {'utter pradesh'}
 using symmetric-difference(): {'utter pradesh'}